.descriptions__container {
  margin: 400px auto;
  padding: 150px;

  width: 700px;
  height: 400px;

  border: 1px solid;
  border-radius: var(--radius);

  text-align: center;

  position: relative;
}

.descriptions__text {
  margin-bottom: 32px;
}

.descriptions__more {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
